<ng-container *ngIf="count > 0; then withItems else withNoItems"></ng-container>

<ng-template #withNoItems>
  <div class="row">
      <div class="col">
        <button
          class="btn btn-primary btn-block"
          [disabled]="!canAdd"
          (click)="addItem()">
          Add Item
        </button>
      </div>
  </div>
</ng-template>

<ng-template #withItems>
  <div class="row no-gutters">
      <div class="col-3 text-left">
        <button
          class="btn btn-primary"
          [disabled]="!canAdd"
          (click)="addItem()">
          <div class="fa fa-plus"></div>
        </button>
      </div>
      <div class="col text-center">
        {{ count }} in cart
      </div>
      <div class="col-3 text-right">
        <button
          class="btn btn-primary"
          [disabled]="!canRemoveItem"
          (click)="removeItem()">
          <div class="fa fa-minus"></div>
        </button>
      </div>
  </div>
</ng-template>