<div class="row">
  <div class="col-3">
    <div class="sticky-top">
      <app-product-filter
        [selectedCategoryId]="selectedCategoryId"
        (selectedCategoryIdChanged)="onSelectedCategoryIdChanged($event)"></app-product-filter>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let productPurchaseRecord of filteredProductPurchaseRecords; let i = index; let o = odd">
        <div class="col">
          <app-product-card
            [product]="productPurchaseRecord.product"
            [showActions]="true"
            [count]="productPurchaseRecord.productItemsCount"
            (add)="onProductItemAdded(productPurchaseRecord.product)"
            (remove)="onProductItemRemoved(productPurchaseRecord.product)"></app-product-card>
        </div>
        <div *ngIf="o" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>